{% extends 'base.html' %}
{% block title %}Confirmar Asistencia{% endblock %}
{% block content %}
<div class="card shadow p-4">
    <h1 class="text-center mb-4">Confirmar Asistencia</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }}" role="alert">
                {{ messages[0][1] }}
            </div>
        {% endif %}
    {% endwith %}

    <div class="alert alert-info">
        <p class="mb-1"><strong>Evento:</strong> {{ evento['nombre'] }} ({{ evento['fecha'] }})</p>
        <p class="mb-1"><strong>DNI:</strong> {{ miembro['dni'] }}</p>
        <p class="mb-0"><strong>Nombres:</strong> {{ miembro['nombres'] }}</p>
        {% if hora_registro %}
        <p class="mb-0"><strong>Hora de registro:</strong> {{ hora_registro }}</p>
        {% endif %}
    </div>
    
    <form action="{{ url_for('confirmar_asistencia', dni=miembro['dni'], evento_id=evento['id'], tipo_registro=tipo_registro) }}" method="post">

        <input type="hidden" name="dni" value="{{ miembro['dni'] }}">
        <input type="hidden" name="evento_id" value="{{ evento['id'] }}">

        
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success mt-3">Registrar</button>
        </div>
    </form>
</div>
{% endblock %}